@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,360,400,500");

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1}
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  animation: fadeIn linear 1.25s;
  user-select: none;
}

body, html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

nav {
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  height: 70px;
  padding: 0 50px;
}

nav .logo {
  color: black;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

nav .nav-items {
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0 0 0 40px;
}

nav .nav-items li {
  padding-right: 30px;
}

nav .nav-items li a {
  color: gray;
  text-decoration: none;
  padding-bottom: 10px;
}

nav .nav-items li .active {
  color: black;
  border-bottom: 2px solid rgb(45, 76, 231);
  width: 100%;
  border-radius: 1px;
  transition: 0.5s ease;
}

nav .nav-items li a:hover {
  color: black;
  transition: 0.4s ease;
}

/* mission */

.mission_container {
  display: flex;
  justify-content: center;
  padding-top: 2.5em;
}

.mission {
  position: relative;
}

.sentence1 {
  font-size: 30px;
  font-weight: 400;
  width: 800px;
  text-align: center;
}

.mission .squiggly {
  position: absolute;
  top: 53px;
  left: 337px;
}

.mission .squiggly img {
  width: 147px;
  height: 100%;
}

.mission .circle {
  position: absolute;
  top: -60px;
  left: 234px;
}

.mission .circle img {
  width: 190px;
  height: 85%;
}

/* photos (first layer on mission) */

.images {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 60px;
  margin-top: 50px;
}

.photo2, .photo1, .photo3 {
  position: relative;
}

.photo2photo, .photo1photo, .photo3photo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.photo2photo img, .photo1photo img, .photo3photo img {
  width: 269px;
  height: auto;
  border-radius: 10px;
}

.photo2photo img {
  box-shadow: -15px 15px #db4854;
}

.photo3photo img {
  box-shadow: -15px 15px #3CACE2;
}

.accent2 {
  position: absolute;
  top: -30px;
  left: -50px;
}

.accent2 img, .accent3 img {
  width: 350px;
  height: auto;
}

.accent3 {
  position: absolute;
  top: -20px;
  left: -10px;
}

.photo2 .caption, .photo3 .caption {
  margin-top: 210px;
  font-weight: 360;
  font-size: 20px;
  width: 280px;
  text-align: center;
  line-height: 30px;
}

.photo1 .caption {
  margin-top: 300px;
  font-weight: 360;
  font-size: 20px;
  width: 280px;
  text-align: center;
  line-height: 30px;
}

/* second row */

.images_row2 {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 130px;
  margin-top: 50px;
}

.photo4, .photo5, .photo6 {
  position: relative;
}

.photo4photo, .photo5photo, .photo6photo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.photo4photo img, .photo5photo img, .photo6photo img {
  width: 350px;
  height: auto;
  border-radius: 10px;
}

.photo5photo img {
  box-shadow: -15px 15px #db4854;
}

.photo4photo img {
  box-shadow: -15px 15px #3CACE2;
}

.photo4 .caption, .photo5 .caption, .photo6 .caption {
  margin-top: 280px;
  font-weight: 360;
  font-size: 20px;
  width: 320px;
  text-align: center;
  line-height: 30px;
}



/* about */

#aboutsection {
  padding-top: 3em;
  margin-top: 2em;
  padding-bottom: 1.5em;
}

.about {
  margin-top: 5em;
}

.abouttext {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.abouttext p {
  font-size: 30px;
  width: 800px;
  text-align: center;
}

.aboutimage {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
  padding-top: 2.5em;
}

.aboutimage img {
  width: 275px;
  border-radius: 10px;
  box-shadow: -15px 15px #FFD731;
}

.aboutimage p {
  width: 300px;
  font-size: 20px;
  font-weight: 300px;
  text-align: left;
  line-height: 28px;
}

.video {
  margin-top: 5em;
  margin-bottom: 4em;
}

.videotext {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.videotext p {
  font-size: 30px;
  width: 800px;
  text-align: center;
}

.videoframe {
  display: flex;
  justify-content: center;
}

.videoframe iframe {
  border-radius: 10px;
}

.gallery {
  margin: auto;
  left: 50%;
  width: 930px;
  padding: 10px;
}


.gallery img {
  width: 300px;
  height: 225px;
  padding: 10px;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}